*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.chat-container{
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url("a.jpg");
    background-size: contain;

}
.chat-box{
height: 90%;
}
.chat-name{

}
.chat-text{

}
.left{

}
.right{

}
.chat-input{
background: white;
width: 90%;
border-radius: 10px;
margin: auto;
display: flex;
height: 6%;
 
align-items: center;
justify-content: space-around;
 

}
.chat-input input{
    outline: none;
    border: none;
    height: 100%;
    width: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background: lightgray; */

}
.fas{
    color: blue;
}
.send{

}