*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.chat-container{
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url("a.jpg");
    background-size: contain;

}
.chat-box{
height: 90%;
overflow: auto;
}
.chat{
    max-width: 300px;
    min-width: 100px;
    clear: both;
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
}
.chat-name{
font-weight: bold;
}
.chat-text{

}
.left{
background-color: aqua;
float: left;
}
.right{
background-color: beige;
float: right;
}
.chat-input{
background: white;
width: 90%;
border-radius: 10px;
margin: auto;
display: flex;
height: 6%;
 
align-items: center;
justify-content: space-around;
 

}
.chat-input input{
    outline: none;
    border: none;
    height: 100%;
    width: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background: lightgray; */

}
.fas{
    color: blue;
}
.send{

}